<div class="form">
  <div>
    <label>Name</label>
    <input [(ngModel)]="taskMessage" />
  </div>

  <div>
    <label>Description</label>
    <textarea [(ngModel)]="taskDescription"></textarea>
  </div>

  <div>
    <label>Urgente</label>
    <input type="checkbox" [(ngModel)]="isUrgent" />
  </div>

  <button class="btn" (click)="addTask()" [disabled]="!filledInputs()">
    CREATE
  </button>
</div>

<ul>
  <app-task
    *ngFor="let task of taskList.list"
    (delete)="deleteTask($event)"
    [task]="task"
  >
  </app-task>
</ul>
